extends layout

block content
  h1.heading Créer un utilisateur

  form.container(action="/admin/add", method="POST") 
    div.checkbox-container
      label(for="isAdmin") Administrateur
      input#isAdmin(type="checkbox" name="isAdmin")

    div.select-container
      label(for="gender") Civilité
      select(id="gender" name="gender" required)
        option(value="male") Homme
        option(value="female") Femme
        option(value="other") Autre
        i.fa.fa-chevron-down

    div.select-container
      label(for="category") Catégorie
      select(id="category" name="category" required)
        option(value="Client") Client
        option(value="Technique") Technique
        option(value="Marketing") Marketing
        i.fa.fa-chevron-down

    div.input-container
      label(for="lastname") Nom
      input#lastname(type="text" name="lastname" required)

    div.input-container
      label(for="firstname") Prénom
      input#firstname(type="text" name="firstname" required)

    div.input-container
      label(for="email") Email
      input#email(type="email" name="email" required)

    div.input-container
      label(for="password") Mot de passe
      input#password(type="password" name="password" required)

    div.input-container
      label(for="phone") Téléphone
      input#phone(type="tel" name="phone" required)

    div.input-container
      label(for="birthdate") Date de naissance
      input#birthdate(type="date" name="birthdate" required)

    div.input-container
      label(for="city") Ville
      input#city(type="text" name="city" required)

    div.input-container
      label(for="country") Pays
      input#country(type="text" name="country" required)

    div.input-container
      label(for="photo") URL de la photo
      input#photo(type="url" name="photo" required)

    button.btn-primary(type="submit" style="font-size: 20px; padding: 8px 15px;")
      i.fa.fa-plus
      |  Ajouter
