header
  .logo
    h1 AM's Intranet

  if user
    //- Si l'utilisateur est connecté
    .user-info
      //- On vérifie s'il est admin afin de gérer l'affichage du bouton "ajouter un utilisateur"
      if isAdmin
        a(href="/add") Ajouter utilisateur

      //- Affichage de l'avatar avec redirection pour éditer le profil
      a(href="/edit")
        img.user-avatar(src="/images/avatar.jpg", alt="Image de profil et édition du profil")

      //- Bouton de déconnexion quand l'utilisateur est connecté
      form(action="/login", method="POST")
        button(type="submit") Déconnexion
  else
    //- L'utilisateur n'est pas connecté
    a(href="/login") Connexion
