header.navbar
  .container.header-container
    a.header-title(href="home") AM's Intranet

    //- Vérifier si l'utilisateur est connecté
    if loggedInUser
      nav.header-nav
        //- Vérifier s'il est admin pour afficher le lien d'ajout d'utilisateur
        if loggedInUser.isAdmin
          a(href="/admin/add")
            i.fa.fa-plus(style="padding: 5px;")
            | Ajouter un utilisateur

        //- Liens pour utilisateur connecté
        a(href="/listing")
          i.fa.fa-users(style="padding: 5px;")
          | Listing
        a(href="/edit") 
          img.profile-card(src=loggedInUser.photo, alt="Avatar et éditer le profil")
        form(action="/login", method="POST", style="display: inline;")
          button.btn-secondary(type="submit")
            i.fa.fa-sign-out-alt(style="padding: 5px;")
            | Déconnexion

    else
      //- Si non connecté, afficher le bouton de connexion
      nav.header-nav
        a(href="/login") Connexion