header
  .navbar
    .container
      h1 AM's Intranet

      //-  Vérifier si l'utilisateur est connecté
      if !user
        //- Si non connecté on affiche le bouton de connexion
        nav
          a(href="/login") Connexion
      else
        //- Si connecté on affiche les liens
        nav
          //- Listing 
          a(href="/listing") Listing

          //- Editer le profil
          a(href="/edit") 
            img.profile-image(src=user.photo, alt="Avatar et éditer le profil")
            
          //- Logout 
          a(href="/login") Déconnexion

          //- On vérifie s'il est admin afin de gérer l'affichage du bouton "ajouter un utilisateur"
          if user.isAdmin
            a(href="/add") Ajouter un utilisateur