.header
  .logo
    h1 AM's Intranet

  nav
    ul
      li
      //- Afficher uniquement si l'utilisateur est connecté
      if user
        //- Bouton pour accéder à la liste des collaborateurs
        li
          a(href="/listing") Liste des collaborateurs

        //- Afficher uniquement si l'utilisateur est admin
        if isAdmin
          //- Bouton pour ajouter un utilisateur
          li
            a(href="/add") Ajouter utilisateur

        //- Avatar et lien pour éditer le profil
        li
          a(href="/edit")
            img.user-avatar(src="/images/avatar.jpg", alt="Image de profil et édition du profil")

        //- Bouton de déconnexion
        li
          form(action="/logout", method="POST")
            button(type="submit") Déconnexion

      else
        //- Si l'utilisateur n'est pas connecté, afficher le bouton Connexion
        li
          a(href="/login") Connexion
