extends layout

block content
  h1 Page d'accueil
  
   include userCard
  
  //- Bouton pour afficher un autre utilisateur
  form(action="/home", method="GET")
    button(type="submit") Dire bonjour à quelqu'un d'autre