extends layout

block content
  h1.heading Connexion
  
  form.container(action="/login", method="POST")
      div.input-container
        input(type="email", name="email", placeholder="Entrez votre email", required)
      div.input-container
        input(type="password", name="password", placeholder="Entrez votre mot de passe", required)

      if error
        p.error= error
      button.btn-primary(type="submit" style="font-size: 18px; padding: 8px 15px;") Connexion
