extends layout

block content
  h1.heading Connexion
  
  form(action="/login", method="POST")
    .form-container
      .form-group
        input(type="email", name="email", placeholder="Entrez votre email", required)
        if errors && errors.length > 0
          each error in errors 
            p.error-message= LOGIN_ERROR_MSG
      .form-group
        input(type="password", name="password", placeholder="Entrez votre mot de passe", required)
      button.btn-primary(type="submit") Connexion

  if error
    p.error= error