/* Style général avec suppression des comportements par défaut */
* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
}

h1,
h2 {
  color: #2e0f44;
}

h3,
h4 {
  color: #8763a0;
}

p {
  color: #000000;
}

a {
  color: #2e0f44;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}
.error {
  display: flex;
  flex-direction: row;
  justify-content: right;
  color: rgb(230, 100, 100);
  font-size: 14px;
  width: 100%;
}

.form-error {
  margin-top: 5px;
  color: rgb(230, 100, 100);
}

/* Style des boutons */
.btn-primary {
  margin-top: 35px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  color: #481b68;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #8763a0;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 #8763a0;
}

.btn-primary:hover {
  text-decoration: none;
  color: white;
  box-shadow: inset 0 -100px 0 0 #481b68;
}

.btn-primary:active {
  transform: scale(0.9);
}

.admin-btns {
  margin-top: 35px;
}

.btn-secondary {
  color: #481b68;
  font-family: inherit;
  cursor: pointer;
  position: relative;
  border: none;
  background: none;
  text-transform: uppercase;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: color;
}

.btn-secondary:focus,
.btn-secondary:hover {
  color: #481b68;
}

.btn-secondary:focus:after,
.btn-secondary:hover:after {
  width: 100%;
  left: 0%;
}

.btn-secondary:after {
  content: "";
  pointer-events: none;
  bottom: -2px;
  left: 50%;
  position: absolute;
  width: 0%;
  height: 2px;
  background-color: #481b68;
  transition-timing-function: cubic-bezier(0.25, 0.8, 0.25, 1);
  transition-duration: 400ms;
  transition-property: width, left;
}

.delete-btn {
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  color: rgb(230, 100, 100);
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid rgb(230, 100, 100);
  border-radius: 15px;
}

.btn-danger {
  margin: 5px;
  padding: 5px 15px;
  text-align: center;
  text-decoration: none;
  color: #e66464;
  background: transparent;
  cursor: pointer;
  transition: ease-out 0.5s;
  border: 2px solid #e66464;
  border-radius: 20px;
  box-shadow: inset 0 0 0 0 #e66464;
}

.btn-danger:hover {
  text-decoration: none;
  color: white;
  box-shadow: inset 0 -100px 0 0 #e66464;
}

.btn-danger:active {
  transform: scale(0.9);
}

.delete-btn:hover {
  color: white;
  box-shadow: inset 0 -100px rgb(230, 100, 100);
}

.delete-btn:active {
  transform: scale(0.9);
}

#backToTop {
  display: none;
  position: fixed;
  bottom: 20px;
  right: 30px;
  z-index: 1000;
  border: none;
  outline: none;
  background-color: #8763a0;
  color: #fff;
  cursor: pointer;
  border-radius: 35px;
  padding: 15px 25px;
}

#backToTop:hover {
  background-color: #2e0f44;
}

/* Style de la nav bar */
header.navbar {
  background-color: #ffffff;
  border-bottom: 0.5px solid rgba(46, 15, 68, 0.4);
  width: 100%;
  margin-bottom: 20px;
}

.container.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}

.header-title {
  font-size: 35px;
  margin: 0;
  color: #2e0f44;
  flex: 1;
  text-decoration: none !important;
}

nav.header-nav {
  display: flex;
  align-items: center;
  gap: 20px;
}

nav.header-nav a {
  color: #2e0f44;
  text-decoration: none;
}

nav.header-nav a:hover {
  text-decoration: underline;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal-content {
  display: flex;
  flex-direction: column;
  position: absolute;
  left: 30vw;
  top: 25vw;
  background-color: #fefefe;
  padding: 20px;
  border: 1px solid #888;
  border-radius: 15px;
  width: 80%;
  max-width: 500px;
  text-align: center;
}

#deleteModal {
  display: none;
}

.profile-card {
  border-radius: 50%;
  width: 60px;
  height: 60px;
  object-fit: cover;
  margin: 0 5px;
  border: 3px solid;
}

/* Style des formulaires */
.heading {
  text-align: center;
  font-size: 30px;
  margin: 20px;
  color: #2e0f44;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 90%;
  border-radius: 25px;
  padding: 25px 35px;
  border: 1px solid #481b68;
  box-shadow: #8763a0 0px 30px 30px -20px;
  margin: 20px;
}

input {
  border: none;
  padding: 15px 20px;
  border-radius: 10px;
  margin: 15px;
  box-shadow: #e1dad3 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  width: 250px;
}

input:focus {
  outline: none;
  border-inline: 2px solid #8763a0;
}

/* Style de la page listing */
.search-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 20px;
  gap: 20px;
}

.card-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

#searchCategory {
  margin: 20px;
  padding: 5px;
  color: #000;
  padding-block: 12px;
  border-radius: 5px;
}
/* Style de la page edit et add */
form.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 75%;
  margin: 15px auto;
  padding: 20px;
  border: 1px solid #2e0f44;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  background-color: #f9f9f9;
}

.input-container,
.select-container,
.checkbox-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 15px;
  padding: 5px;
  box-sizing: border-box;
}

.input-container label,
.select-container label,
.checkbox-container label {
  flex: 1;
  margin-right: 10px;
  text-align: left;
  color: #2e0f44;
  font-size: 16px;
}

.input-container input,
.select-container select,
.checkbox-container input {
  flex: 2;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #c2b4be;
  box-shadow: #e1dad3 0px 10px 10px -5px;
  border-inline: 2px solid transparent;
  font-size: 16px;
  color: #2e0f44;
}

.input-container input:focus {
  outline: none;
  border-inline: 2px solid #2e0f44;
}

.select-container select {
  padding: 9px;
  background-color: #fff;
}
