.card {
  width: 300px;
  height: 450px;
  border: 1px solid #c2b4be;
  border-radius: 15px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  transition: transform 0.2s ease-in-out;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}

.card img {
  border-radius: 50%;
  width: 150px;
  height: 150px;
  object-fit: cover;
  margin-bottom: 15px;
  border: 3px solid #481b68;
}

.card h3 {
  color: #481b68;
  margin-bottom: 5px;
  font-size: 20px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card h4 {
  color: #8763a0;
  margin-bottom: 10px;
  font-size: 18px;
  max-height: 25px;
  overflow: hidden;
}

.card p {
  color: black;
  margin: 5px 0;
  font-size: 15px;
  max-height: 30px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.card:hover {
  transform: scale(1.05);
}

.category {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  font-size: 12px !important;
  color: #fff !important;
  background-color: #c2b4be;
  border-radius: 5px;
}
